.announcements-display-area {
    height: 12rem;
    position: relative;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
    mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
}

.announcements-scroller {
    position: absolute;
    width: 100%;
    top: 0;
    height: auto;
    animation: scroll-news 15s linear infinite;
}

.announcements-display-area:hover .announcements-scroller {
    animation-play-state: paused;
}
@keyframes scroll-news {
    0% {
        transform: translateY(0%);
    }
    100% {
     
        transform: translateY(-50%);
    }
}

.announcement-item {
    padding: 0.75rem;
    margin-bottom: 0.75rem;
    font-size: 1.125rem;
    line-height: 1.5;
    height: auto;
    min-height: 3.5rem;
    display: flex;
    align-items: center;
}