.header-container{
    display: flex;
    background-color: #ffffff;
    height: 105px;
}
.scrolling-announcements {
  animation: scroll-up 15s linear infinite;
  padding-bottom: 100%;
}

.scrolling-announcements p {
  margin-bottom: 1rem;
  animation: fade-in-out 15s linear infinite;
}


